 <!-- Top bar Start -->
 <div class="top-bar">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <i class="fa fa-envelope"></i>
                support@email.com
            </div>
            <div class="col-sm-6">
                <i class="fa fa-phone-alt"></i>
                +012-345-6789
            </div>
        </div>
    </div>
</div>
<!-- Top bar End -->


 <!-- Nav Bar Start -->
 <div class="nav">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a routerLink="/" class="nav-item nav-link active">Home</a>
                    <a routerLink="/products" class="nav-item nav-link">Products</a>
                    <a routerLink="/products" class="nav-item nav-link">Product Detail</a>
                    <a routerLink="/products" class="nav-item nav-link">Cart</a>
                    <a routerLink="/products" class="nav-item nav-link">Checkout</a>
                    <a routerLink="/products" class="nav-item nav-link">My Account</a>
                    <a routerLink="/eventList" class="nav-item nav-link">Events</a>
                    <a routerLink="/contact" class="nav-item nav-link">Contact</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Mes Listes</a>
                        <div class="dropdown-menu">
                            <a href="/participationList" class="dropdown-item">de participation</a>
                            <a href="/contributionList" class="dropdown-item">de contribution</a>
                        </div>
                    </div>
                </div>
                <div class="navbar-nav ml-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
                        <div class="dropdown-menu">
                            <a href="#" class="dropdown-item">Login</a>
                            <a href="#" class="dropdown-item">Register</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
<!-- Nav Bar End -->   
