<div class="col-lg-8 col-lg-offset-2">
    <div class="row">
        <div class="col-xs-12">
            <span class="btn btn-default" ng-click="backToGift()"><img src="//placehold.it/30x30&text=1" class="img-circle"><br>Create your gift</span>
            <span class="btn active btn-default"><img src="//placehold.it/30x30&text=2" class="img-circle"><br>Submit payment</span>
        </div>
    </div>

    <form name="donor" novalidate>
        <div class="row">
            <div class="col-lg-12">
                <h2>Billing information</h2>
                <div class="row">
                    <div class="col-xs-6"><input ng-model="donor.billingNameFirst" type="text" class="form-control" placeholder="First Name" required></div>
                    <div class="col-xs-6"><input ng-model="donor.billingNameLast" type="text" class="form-control" placeholder="Last Name" required></div>
                </div>
                <div class="clearfix"><br></div>
                <div class="row">
                    <div class="col-lg-12"><input ng-model="donor.donorEmail" type="email" class="form-control" placeholder="Email Address" required></div>
                </div>
                <div class="clearfix"><br></div>
                <div class="row">
                    <div class="col-xs-6"><input ng-model="donor.phone" type="text" class="form-control" placeholder="Home Phone"></div>
                </div>
                <div class="clearfix"><br></div>
                <div class="row">
                    <div class="col-xs-12"><input ng-model="donor.billingAddressStreet1" type="text" class="form-control" placeholder="Street Address" required></div>
                </div>
                <div class="clearfix"><br></div>
                <div class="row">
                    <div class="col-xs-12"><input ng-model="donor.billingAddressStreet2" type="text" class="form-control" placeholder="Street Address Line 2 (optional)"></div>
                </div>
                <div class="clearfix"><br></div>
                <div class="row">
                    <div class="col-xs-6"><input ng-model="donor.billingAddressCity" type="text" class="form-control" placeholder="City" required></div>
                    <div class="col-xs-6">
                        <select ng-model="donor.billingAddressState" class="form-control" required>
                            <option value="AK">AK - Alaska</option>
                            <option value="AL">AL - Alabama</option>
                            <option value="AR">AR - Arkansas</option>
                            <option value="AZ">AZ - Arizona</option>
                            <option value="CA">CA - California</option>
                            <option value="CO">CO - Colorado</option>
                            <option value="CT">CT - Connecticut</option>
                            <option value="DC">DC - District of Columbia</option>
                            <option value="DE">DE- Delaware</option>
                            <option value="FL">FL - Florida</option>
                            <option value="GA">GA - Georgia</option>
                            <option value="HI">HA - Hawaii</option>
                            <option value="IA">IA - Iowa</option>
                            <option value="ID">ID - Idaho</option>
                            <option value="IL">IL - Illinois</option>
                            <option value="IN">IN - Indiana</option>
                            <option value="KS">KS - Kansas</option>
                            <option value="KY">KY - Kentucky</option>
                            <option value="LA">LA - Louisiana</option>
                            <option value="MA">MA - Massachusetts</option>
                            <option value="MD">MD - Maryland</option>
                            <option value="ME">ME - Maine</option>
                            <option value="MI">MI - Michigan</option>
                            <option value="MN">MN - Minnesota</option>
                            <option value="MO">MO - Missouri</option>
                            <option value="MS">MS - Mississippi</option>
                            <option value="MT">MT - Montana</option>
                            <option value="NC">NC - North Carolina</option>
                            <option value="ND">ND - North Dakota</option>
                            <option value="NE">NE - Nebraska</option>
                            <option value="NH">NH - New Hampshire</option>
                            <option value="NJ">NJ - New Jersey</option>
                            <option value="NM">NM - New Mexico</option>
                            <option value="NV">NV - Nevada</option>
                            <option value="NY">NY - New York</option>
                            <option value="OH">OH - Ohio</option>
                            <option value="OK">OK - Oklahoma</option>
                            <option value="OR">OR - Oregon</option>
                            <option value="PA">PA - Pennsylvania</option>
                            <option value="RI">RI - Rhode Island</option>
                            <option value="SC">SC - South Carolina</option>
                            <option value="SD">SD - South Dakota</option>
                            <option value="TN">TN - Tennessee</option>
                            <option value="TX">TX - Texas</option>
                            <option value="UT">UT - Utah</option>
                            <option value="VA">VA - Virginia</option>
                            <option value="VT">VT - Vermont</option>
                            <option value="WA">WA - Washington</option>
                            <option value="WI">WI - Wisconsin</option>
                            <option value="WV">WV - West Virginia</option>
                            <option value="WY">WY - Wyoming</option>
                            <option value="AS">AS - American Samoa</option>
                            <option value="FM">FM - Federated States of Micronesia</option>
                            <option value="GU">GU - Guam</option>
                            <option value="MH">MH - Marshall Islands</option>
                            <option value="MP">MP - Northern Mariana Islands</option>
                            <option value="PR">PR - Puerto Rico</option>
                            <option value="PW">PW - Palau</option>
                            <option value="VI">VI - Virgin Islands</option>
                            <option value="AA">AA - Armed Forces Americas</option>
                            <option value="AE">AE - Armed Forces</option>
                            <option value="AP">AE - Armed Forces Pacific</option>
                            <option value="AB">AB - Alberta</option>
                            <option value="BC">BC - British Columbia</option>
                            <option value="MB">MB - Manitoba</option>
                            <option value="NB">NB - New Brunswick</option>
                            <option value="NF">NF - Newfoundland and Labrador</option>
                            <option value="NS">NS - Nova Scotia</option>
                            <option value="NT">NT - Northwest Territories</option>
                            <option value="NU">NU - Nunavut</option>
                            <option value="ON">ON - Ontario</option>
                            <option value="PE">PE - Prince Edward Island</option>
                            <option value="QC">QC - Quebec</option>
                            <option value="SK">SK - Saskatchewan</option>
                            <option value="YT">YT - Yukon</option>
                        </select>
                    </div>
                </div>
                <div class="clearfix"><br></div>
                <div class="row">
                    <div class="col-xs-6"><input ng-model="donor.billingAddressZip" type="text" class="form-control" data-ng-pattern="/(^\d{5}(-\d{4})?$)|(^[ABCEGHJKLMNPRSTVXYabceghjklmnprstvxy]{1}\d{1}[A-Za-z]{1} *\d{1}[A-Za-z]{1}\d{1}$)/" placeholder="Zip Code" required></div>
                </div>
            </div>
        </div>


        <!-- ----------------------------------- Summary of ALL GIFTS -->
        <div ng-show='gift.designations.length' class="col-lg-10 col-lg-offset-1">
            <h3 style="color: #008000;">Your gifts</h3>

            <div class="col-lg-10">
                <table class="table table-bordered" ng-repeat="designation in gift.designations">

                    <tbody><tr>
                        <td><strong>Program Name</strong></td>
                        <td><strong>Amount</strong></td>
                    </tr>

                    <!-- Designation -->
                    <tr>
                        <td>{{designation.chosenDesignation.name}} - {{designation.chosenProgram.name}}</td>
                        <td>{{designation.giftAmount}}</td>
                    </tr>

                </table>
                <!-- Recurring Gift -->
                <p ng-show="gift.recurring">This is a recurring gift that will be charged to you {{gift.installmentFrequency}}.</p>

                <!-- Tribute -->
                <div ng-show="gift.tribute">
                    <p>
                        This is a tribute gift {{gift.tributeType}} {{gift.tributeHonoreeNameFirst}} {{gift.tributeHonoreeNameLast}}
                    </p>
                    <p>When this gift is made, we will notify {{gift.tributeNotifyNameFull}} at<br />
                        {{gift.tributeNotifyAddressStreet1}}<br />
                        {{gift.tributeNotifyAddressStreet2}}<br />
                        {{gift.tributeNotifyAddressCity}}, {{gift.tributeNotifyAddressState}} {{gift.tributeNotifyAddressZip}} <br />
                        Along with this message:<br />
                        {{gift.tributeMessageBody}}
                    </p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12"><br>
                <h2>Payment information</h2>
                <div class="row">
                    <div class="col-lg-12"><input ng-model="donor.cardNumber" type="text" class="form-control" data-ng-pattern="/^[0-9]+$/" data-ng-minlength="15" maxlength="19" placeholder="Credit Card Number" required></div>
                </div>
                <div class="clearfix"><br></div>
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <select ng-model="donor.cardExpMonth" placeholder="Exp. Month" class="form-control" required>
                            <option disabled selected>Exp Month</option>
                            <option value="1">01</option>
                            <option value="2">02</option>
                            <option value="3">03</option>
                            <option value="4">04</option>
                            <option value="5">05</option>
                            <option value="6">06</option>
                            <option value="7">07</option>
                            <option value="8">08</option>
                            <option value="9">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <select ng-model="donor.cardExpYear" class="form-control" required>
                            <option disabled selected>Exp Year</option>
                            <option value="2014">2014</option>
                            <option value="2015">2015</option>
                            <option value="2016">2016</option>
                            <option value="2017">2017</option>
                            <option value="2018">2018</option>
                            <option value="2019">2019</option>
                            <option value="2020">2020</option>
                            <option value="2020">2021</option>
                            <option value="2020">2022</option>
                            <option value="2020">2023</option>
                            <option value="2020">2024</option>
                        </select>
                    </div>

                    <div class="row visible-xs"><div class="clearfix"><br><br><br></div></div>
                    <div class="col-sm-6"><input ng-model="donor.cardCvv" type="text" class="form-control" placeholder="CVV"  data-ng-pattern="/^[0-9]+$/" data-ng-minlength="3" maxlength="4" required></div>
                </div>
                <div class="clearfix"><br></div>
                <div class="row errors" ng-show="errors">
                    <p>Please fill out all required fields above.</p>
                </div>
                <div class="clearfix"><br></div>
                <div class="row">
                    <div class="col-sm-12 text-center"><span class="btn btn-primary btn-lg" ng-click="donateNow()">DONATE</span></div>
                    <br><br><br><br>
                </div>
                <div class="row">
                    <h4 class="donation-progress">Please wait while we process your donation...</h4>
                </div>
                <div class="row">
                    <h4 class="donation-error"></h4>
                </div>
            </div>
        </div>
    </form>
</div>