<div class="col-lg-8 col-lg-offset-2">
    <div class="row">
        <div class="col-lg-12">
            <h2>Thank you for your Gift!</h2>
            <p>When you give to your University, you help support all of the programs you love.</p>
        </div>
    </div>

    <!-- ----------------------------------- Summary of ALL GIFTS -->
    <div class="col-lg-10 col-lg-offset-1">
        <h3 style="color: #008000;">Your gifts</h3>

        <div class="col-lg-10">
            <table class="table table-bordered" ng-repeat="designation in gift.designations">

                <tbody><tr>
                    <td><strong>Program Name</strong></td>
                    <td><strong>Amount</strong></td>
                </tr>

                <!-- Designation -->
                <tr>
                    <td>{{designation.chosenDesignation.name}} - {{designation.chosenProgram.name}}</td>
                    <td>{{designation.giftAmount}}</td>
                </tr>
            </table>

            <p><strong>Confirmation Code: #{{callbackData.donation.confirmation_code}}</strong></p>
            <p>Total Tax Deductible Amount: {{callbackData.donation.tax_deductible_amount.formatted}}</p>

            <!-- Recurring Gift -->
            <p ng-show="gift.recurring">This is a recurring gift that will be charged to you {{gift.installmentFrequency}}.</p>

            <!-- Tribute -->
            <div ng-show="gift.tribute">
                <p>
                    This is a tribute gift {{gift.tributeType}} {{gift.tributeHonoreeNameFirst}} {{gift.tributeHonoreeNameLast}}
                </p>
                <p>When this gift is made, we will notify {{gift.tributeNotifyNameFull}} at<br />
                    {{gift.tributeNotifyAddressStreet1}}<br />
                    {{gift.tributeNotifyAddressStreet2}}<br />
                    {{gift.tributeNotifyAddressCity}}, {{gift.tributeNotifyAddressState}} {{gift.tributeNotifyAddressZip}} <br />
                    Along with this message:<br />
                    {{gift.tributeMessageBody}}
                </p>
            </div>
        </div>
    </div>
</div>