
<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="navbar-menu-left-side239">
                    <ul>
                        
                        
                        <li><a href="logIn.html"><i class="fa fa-user" aria-hidden="true"></i>Login Area</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="navbar-serch-right-side">
                    <form class="navbar-form" role="search">
                        <div class="input-group add-on">
                            <input class="form-control form-control222" placeholder="Search" name="srch-term" id="srch-term" type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-default2913" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
           
            </div>
        </div>
    </div>
</div>


<div class="top-menu-bottom932">
    <nav class="navbar navbar-default">
        <div class="container">

             <!-- Brand and toggle get grouped for better mobile display -->
             <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Logo"></a>
            </div>

             <!-- Collect the nav links, forms, and other content for toggling -->
             
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</div>





<section class="header-descriptin329">
    <div class="container">
    
     <ol class="breadcrumb breadcrumb839">
<li><a href="#">Home</a></li>
<li><a href="#">Add Publication</a></li>
<li><a href="#">Contact us</a></li>

</ol>
</div>
</section>
<section class="main-content920">
<div class="container">
<div class="row">
<div class="col-md-9">
<div class="ask-question-input-part032">
   <h4>Add Publication</h4>
<hr>


 <form>
 <div class="form-group">
 <div class="username-part940">
     <span class="form-description43">Username* </span><input type="text" name="fname" class="username029" placeholder="Enter your Name">  
</div>
<div class="email-part320">
  <span class="form-description442">Password* </span><input type="text" name="fname" class="email30" placeholder="Enter Your Password">  
</div>
     <div class="question-title39">
         <span class="form-description433">Title* </span><input type="text" name="fname" class="question-ttile32" placeholder="Write Your publication's Title">
     </div>
     
<div class="categori49">
<span class="form-description43305">Type* </span>
<label>
<input list="browsers" name="myBrowser" class="list-category53"/></label>
<datalist id="browsers">
<option value="Avis">
<option value="Question">

</datalist>
</div>
<div class="button-group-addfile3239">
<span class="form-description23993">Attactment*</span><input type="file" name="ffile" class="question-ttile3226">

</div>
<div class="details2-239">
<div class="col-md-12 nopadding">
  <span class="form-description442">Description* </span><input type="text" name="fname" class="email30" placeholder="Enter the description">  
</div>
</div>




</div>
</form>


<div class="publish-button2389">
 <button type="button" class="publis1291">Publish</button>
</div>

</div>


</div>
<!--                end of col-md-9 -->




<!--           strart col-md-3 (side bar)-->
<aside class="col-md-3 sidebar97239">
<div class="status-part3821">
<h4>stats</h4>

<a href="#"><i class="fa fa-question-circle" aria-hidden="true"> Publications(20)</i></a>

</div>  


























<!--             social part -->


<!--              highest part-->

>
<!--               end of Highest points -->
<!--          start tags part-->

<!--          End tags part-->
<!--        start recent post  -->
<div class="recent-post3290">
<h4>Recent Post</h4>
<div class="post-details021">
<a href="#"><h5>How much do web developers</h5></a>
<p>I am thinking of pursuing web developing as a career & was ...</p>
<small style="color: #848991">July 16, 2017</small>
</div>
<hr>
<div class="post-details021">
<a href="#"><h5>How much do web developers</h5></a>
<p>I am thinking of pursuing web developing as a career & was ...</p>
<small style="color: #848991">July 16, 2017</small>
</div>
<hr>
<div class="post-details021">
<a href="#"><h5>How much do web developers</h5></a>
<p>I am thinking of pursuing web developing as a career & was ...</p>
<small style="color: #848991">July 16, 2017</small>
</div>


</div>
<!--       end recent post    -->

</aside>
</div>
</div>
</section>

<!--    footer -->

