   <!-- Bottom Bar Start -->
   <div class="bottom-bar">
     <div class="container-fluid">
       <div class="row align-items-center">
         <div class="col-md-3">
           <div class="logo">
             <a href="index.html">
               <img src="assets/img/logo.png" alt="Logo">
             </a>
           </div>
         </div>
         <div class="col-md-6">
           <div class="search">
             <input type="text" placeholder="Search">
             <button><i class="fa fa-search"></i></button>
           </div>
         </div>
         <div class="col-md-3">
           <div class="user">
             <a href="wishlist.html" class="btn wishlist">
               <i class="fa fa-heart"></i>
               <span>(0)</span>
             </a>
             <a href="cart.html" class="btn cart">
               <i class="fa fa-shopping-cart"></i>
               <span>(0)</span>
             </a>
           </div>
         </div>
       </div>
     </div>
   </div>
   <!-- Bottom Bar End -->


   <!-- Breadcrumb Start -->
   <div class="breadcrumb-wrap">
     <div class="container-fluid">
       <ul class="breadcrumb">
         <li class="breadcrumb-item"><a href="#">Home</a></li>
         <li class="breadcrumb-item"><a href="#">Products</a></li>
         <li class="breadcrumb-item active">Product List</li>
       </ul>
     </div>
   </div>
   <!-- Breadcrumb End -->



   <!-- Product List Start -->
   <div class="product-view">
     <div class="container-fluid">
       <div class="row">
         <div class="col-lg-8">
           <div class="row">
             <div class="col-md-12">
               <div class="product-view-top">
                 <div class="row">
                   <div class="col-md-4">
                     <div class="product-search">
                       <input type="email" value="Search">
                       <button><i class="fa fa-search"></i></button>
                     </div>
                   </div>
                   <div class="col-md-4">
                     <div class="product-short">
                       <div class="dropdown">
                         <div class="dropdown-toggle" data-toggle="dropdown">Product short by</div>
                         <div class="dropdown-menu dropdown-menu-right">
                           <a href="#" class="dropdown-item">Newest</a>
                           <a href="#" class="dropdown-item">Popular</a>
                           <a href="#" class="dropdown-item">Most sale</a>
                         </div>
                       </div>
                     </div>
                   </div>
                   <div class="col-md-4">
                     <div class="product-price-range">
                       <div class="dropdown">
                         <div class="dropdown-toggle" data-toggle="dropdown">Product price range</div>
                         <div class="dropdown-menu dropdown-menu-right">
                           <a href="#" class="dropdown-item">$0 to $50</a>
                           <a href="#" class="dropdown-item">$51 to $100</a>
                           <a href="#" class="dropdown-item">$101 to $150</a>
                           <a href="#" class="dropdown-item">$151 to $200</a>
                           <a href="#" class="dropdown-item">$201 to $250</a>
                           <a href="#" class="dropdown-item">$251 to $300</a>
                           <a href="#" class="dropdown-item">$301 to $350</a>
                           <a href="#" class="dropdown-item">$351 to $400</a>
                           <a href="#" class="dropdown-item">$401 to $450</a>
                           <a href="#" class="dropdown-item">$451 to $500</a>
                         </div>
                       </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>

             <div class="col-md-4" *ngFor="let product of list">
               <div class="product-item">
                 <div class="product-title">

                   <a routerLink="/product-detail/{{product.id}}">{{product.name}}</a>
                   <div class="ratting">
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                     <i class="fa fa-star"></i>
                   </div>
                 </div>
                 <div class="product-image">
                   <a href="product-detail.html">
                     <img src="assets/img/product-1.jpg" alt="Product Image">
                   </a>
                   <div class="product-action">
                     <a routerLink="/cart"><i class="fa fa-cart-plus"></i></a>
                     <a href="#"><i class="fa fa-heart"></i></a>
                     <a href="#"><i class="fa fa-search"></i></a>
                   </div>
                 </div>
                 <div class="product-price">
                   <h3><span>$</span>99</h3>
                   <a class="btn pull-right" href=""><i class="fa fa-shopping-cart"></i>Buy Now</a>
                  
                   <a href="reclamation" class="btn" style="margin-right:20px;"><i class="fa fa-thumbs-down"
                       aria-hidden="true"></i>Claim</a>
                 </div>
               </div>
             </div>


             <!-- Pagination Start -->
             <div class="col-md-12">
               <nav aria-label="Page navigation example">
                 <ul class="pagination justify-content-center">
                   <li class="page-item disabled">
                     <a class="page-link" href="#" tabindex="-1">Previous</a>
                   </li>
                   <li class="page-item active"><a class="page-link" href="#">1</a></li>
                   <li class="page-item"><a class="page-link" href="#">2</a></li>
                   <li class="page-item"><a class="page-link" href="#">3</a></li>
                   <li class="page-item">
                     <a class="page-link" href="#">Next</a>
                   </li>
                 </ul>
               </nav>
             </div>
             <!-- Pagination Start -->
           </div>


           <!-- Side Bar Start -->

           <!-- Side Bar End -->
         </div>
       </div>
     </div>
     <!-- Product List End -->


     <!-- Brand Start -->
     <div class="brand">
       <div class="container-fluid">
         <div class="brand-slider">
           <div class="brand-item"><img src="assets/img/brand-1.png" alt=""></div>
           <div class="brand-item"><img src="assets/img/brand-2.png" alt=""></div>
           <div class="brand-item"><img src="assets/img/brand-3.png" alt=""></div>
           <div class="brand-item"><img src="assets/img/brand-4.png" alt=""></div>
           <div class="brand-item"><img src="assets/img/brand-5.png" alt=""></div>
           <div class="brand-item"><img src="assets/img/brand-6.png" alt=""></div>
         </div>
       </div>
     </div>
     <!-- Brand End -->
