<!--======== Navbar =======-->
<div class="top-bar">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="navbar-menu-left-side239">
                    <ul>
                        <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>Contact</a></li>
                        <li><a href="#"><i class="fa fa-headphones" aria-hidden="true"></i>Support</a></li>
                        <li><a href="logIn.html"><i class="fa fa-user" aria-hidden="true"></i>Login Area</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="navbar-serch-right-side">
                    <form class="navbar-form" role="search">
                        <div class="input-group add-on">
                            <input class="form-control form-control222" placeholder="Search" name="srch-term" id="srch-term" type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-default2913" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

  <!-- ==========header mega navbar=======-->
  <div class="top-menu-bottom932">
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="#"><img src="assets/images/logo.png" alt="Logo"></a>
            </div>

     
                <!-- Collect the nav links, forms, and other content for toggling -->
               
                       
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>



     <!--======= welcome section on top background=====-->
     <section class="welcome-part-one">
        <div class="container">
            <div class="welcome-demop102 text-center">
                <h2>Welcome to our Forum</h2>
                
                <div class="button0239-item">
                    <a href="#">
                        <button type="button" class="aboutus022">About Us</button>
                    </a>
                    <a href="#">
                        <button type="button" class="join92">Join Now</button>
                    </a>
                </div>
                <div class="form-style8292">
                    <div class="input-group"> <span class="input-group-addon"><i class="fa fa-pencil-square" aria-hidden="true"></i></span>
                        <input type="text" class="form-control form-control8392" placeholder="Ask any question and you be sure find your answer ?"> <span class="input-group-addon"><a href="#">Ask Now</a></span> </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ======content section/body=====-->
    <section class="main-content920">
        <div class="container">
            <div class="row">  
                <div class="col-md-9">
                    <div id="main">
                        <input id="tab1" type="radio" name="tabs" checked>
                        <label for="tab1">All publications</label>
                       
                        <input id="tab4" type="radio" name="tabs">
                        <label for="tab4">No Answer</label>
                        <input id="tab4" type="radio" name="tabs">
                        <label for="tab4">Recent Publication</label>
                        <section id="content1">
                                      <!--Recent Question Content Section -->
                                      <div class="question-type2033">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="left-user12923 left-user12923-repeat">
                                                    <a href="#"><img src="/asstes/image/images.png" alt="image"> </a> <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a> </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="right-description893">
                                                    <div id="que-hedder2983">
                                                        <h3><a href="post-deatils.html" target="_blank">This is my first Question</a></h3> </div>
                                                    <div class="ques-details10018">
                                                        <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.</p>
                                                    </div>
                                                    <hr>
                                                    <div class="ques-icon-info3293"> <a href="#"><i class="fa fa-star" aria-hidden="true"> 5 </i> </a> <a href="#"><i class="fa fa-folder" aria-hidden="true"> wordpress</i></a> <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> 4 min ago</i></a> <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"> Question</i></a> <a href="#"><i class="fa fa-bug" aria-hidden="true"> Report</i></a> </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ques-type302">
                                                    <a href="#">
                                                        <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true"> comment</i></button>
                                                    </a>
                                                    <a href="#">
                                                      <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  pertinent comment</i></button>
                                                    </a>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                
                        <section id="content2">
                            <!--Most Response Content Section -->
                             <div class="question-type2033">
                                 <div class="row">
                                     <div class="col-md-1">
                                         <div class="left-user12923 left-user12923-repeat">
                                             <a href="#"><img src="image/images.png" alt="image"> </a> <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a> </div>
                                     </div>
                                     <div class="col-md-9">
                                         <div class="right-description893">
                                             <div id="que-hedder2983">
                                                 <h3><a href="post-deatils.html" target="_blank">This is my first Question</a></h3> </div>
                                             <div class="ques-details10018">
                                                 <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.</p>
                                             </div>
                                             <hr>
                                            <div class="ques-icon-info3293"> <a href="#"><i class="fa fa-check" aria-hidden="true"> solved</i></a> <a href="#"><i class="fa fa-star" aria-hidden="true"> 5</i> </a> <a href="#"><i class="fa fa-folder" aria-hidden="true"> wordpress</i></a> <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> 4 min ago</i></a> <a href="#"><i class="fa fa-comment" aria-hidden="true">  5 answer</i></a> <a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"> 70 view</i> </a> </div>
                                         </div>
                                     </div>
                                     <div class="col-md-2">
                                         <div class="ques-type302">
                                            <a href="#">
                                                <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  3 comment</i></button>
                                            </a>
                                            <a href="#">
                                              <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  pertinent comment</i></button>
                                            </a>
                                         </div>
                                     </div>
                                 </div>
                             </div>                         
                         </section>


                         <!----end of content-2----->
                        
                        <section id="content3">
                            <!--Recently answered Content Section -->
                          <div class="question-type2033">
                              <div class="row">
                                  <div class="col-md-1">
                                      <div class="left-user12923 left-user12923-repeat">
                                          <a href="#"><img src="/assets/image/images.png" alt="image"> </a> <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a> </div>
                                  </div>
                                  <div class="col-md-9">
                                      <div class="right-description893">
                                          <div id="que-hedder2983">
                                              <h3><a href="post-deatils.html" target="_blank">This is my first Question</a></h3> </div>
                                          <div class="ques-details10018">
                                              <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.</p>
                                          </div>
                                          <hr>
                                         <div class="ques-icon-info3293"> <a href="#"><i class="fa fa-check" aria-hidden="true"> solved</i></a> <a href="#"><i class="fa fa-star" aria-hidden="true"> 5</i> </a> <a href="#"><i class="fa fa-folder" aria-hidden="true"> wordpress</i></a> <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> 4 min ago</i></a> <a href="#"><i class="fa fa-comment" aria-hidden="true">  5 answer</i></a> <a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"> 70 view</i> </a> </div>
                                      </div>
                                  </div>
                                  <div class="col-md-2">
                                      <div class="ques-type302">
                                        <a href="#">
                                            <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  3 comment</i></button>
                                        </a>
                                        <a href="#">
                                          <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  pertinent comment</i></button>
                                        </a>
                                      </div>
                                  </div>
                              </div>
                          </div> 
                            
                          <div class="question-type2033">
                              <div class="row">
                                  <div class="col-md-1">
                                      <div class="left-user12923 left-user12923-repeat">
                                          <a href="#"><img src="/asstes/image/images.png" alt="image"> </a> <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a> </div>
                                  </div>
                                  <div class="col-md-9">
                                      <div class="right-description893">
                                          <div id="que-hedder2983">
                                              <h3><a href="post-deatils.html" target="_blank">This is my first Question</a></h3> </div>
                                          <div class="ques-details10018">
                                              <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.</p>
                                          </div>
                                          <hr>
                                      <div class="ques-icon-info3293"> <a href="#"><i class="fa fa-check check-color329" aria-hidden="true"> solved</i></a> <a href="#"><i class="fa fa-star" aria-hidden="true"> 5</i> </a> <a href="#"><i class="fa fa-folder" aria-hidden="true"> wordpress</i></a> <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> 4 min ago</i></a> <a href="#"><i class="fa fa-comment" aria-hidden="true">  5 answer</i></a> <a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"> 70 view</i> </a> </div>
                                      </div>
                                  </div>
                                  <div class="col-md-2">
                                      <div class="ques-type302">
                                        <a href="#">
                                            <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  3 comment</i></button>
                                        </a>
                                        <a href="#">
                                          <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  pertinent comment</i></button>
                                        </a>
                                      </div>
                                  </div>
                              </div>
                          </div> 
                      </section>
                      <!--End content-3 -->



                      <section id="content4">
                        <!--No answered Content Section -->
                        <div class="question-type2033">
                      <div class="row">
                          <div class="col-md-1">
                              <div class="left-user12923 left-user12923-repeat">
                                  <a href="#"><img src="image/images.png" alt="image"> </a> <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a> </div>
                          </div>
                          <div class="col-md-9">
                              <div class="right-description893">
                                  <div id="que-hedder2983">
                                      <h3><a href="post-deatils.html" target="_blank">This is my first Question</a></h3> </div>
                                  <div class="ques-details10018">
                                      <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.</p>
                                  </div>
                                  <hr>
                              <div class="ques-icon-info3293"> <a href="#"><i class="fa fa-check check-color329" aria-hidden="true"> solved</i></a> <a href="#"><i class="fa fa-star" aria-hidden="true"> 5</i> </a> <a href="#"><i class="fa fa-folder" aria-hidden="true"> wordpress</i></a> <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> 4 min ago</i></a> <a href="#"><i class="fa fa-comment" aria-hidden="true">  5 answer</i></a> <a href="#"><i class="fa fa-user-circle-o" aria-hidden="true"> 70 view</i> </a> </div>
                              </div>
                          </div>
                          <div class="col-md-2">
                              <div class="ques-type302">
                                  <a href="#">
                                      <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  3 comments</i></button>
                                  </a>
                                  <a href="#">
                                    <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  pertinent comments</i></button>
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
                   <!--End of content-4-->
              </section>
              
              
              <section id="content5">
                    <!--Recent Question Content Section -->
                  <div class="question-type2033">
                      <div class="row">
                          <div class="col-md-1">
                              <div class="left-user12923 left-user12923-repeat">
                                  <a href="#"><img src="assets/image/images.png" alt="image"> </a> <a href="#"><i class="fa fa-check" aria-hidden="true"></i></a> </div>
                          </div>
                          <div class="col-md-9">
                              <div class="right-description893">
                                  <div id="que-hedder2983">
                                      <h3><a href="post-deatils.html" target="_blank">This is my first Question</a></h3> </div>
                                  <div class="ques-details10018">
                                      <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis.</p>
                                  </div>
                                  <hr>
                                  <div class="ques-icon-info3293"> <a href="#"><i class="fa fa-star" aria-hidden="true"> 5 </i> </a> <a href="#"><i class="fa fa-folder" aria-hidden="true"> wordpress</i></a> <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> 4 min ago</i></a> <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"> Question</i></a> <a href="#"><i class="fa fa-bug" aria-hidden="true"> Report</i></a> </div>
                              </div>
                          </div>
                          <div class="col-md-2">
                              <div class="ques-type302">
                                  <a href="#">
                                      <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  3 comment</i></button>
                                  </a>
                                  <a href="#">
                                    <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  pertinent comment</i></button>
                                  </a>
                                  <a href="#">
                                    <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  Delete comment</i></button>
                                </a>
                                <a href="#">
                                  <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true">  update comment</i></button>
                                </a>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!--End of content-5-->
              </section>
     
          </div>
      </div>
      <!--end of col-md-9 -->
      <!--strart col-md-3 (side bar)-->
      <aside class="col-md-3 sidebar97239">
          <div class="status-part3821">
              <h4>stats</h4> <a href="#"><i class="fa fa-question-circle" aria-hidden="true"> Question(20)</i></a> 
         </div>
          
          
          <!--             social part -->
          




          <!--              login part-->
          
                  
          <!--              highest part-->
          

                    <!--          End tags part-->
                    <!--        start recent post  -->
                    <div class="recent-post3290">
                        <h4>Recent Post</h4>
                        <div class="post-details021"> <a href="#"><h5>How much do web developers</h5></a>
                            <p>I am thinking of pursuing web developing as a career & was ...</p> <small style="color: #848991">July 16, 2017</small> </div>
                        <hr>
                        <div class="post-details021"> <a href="#"><h5>How much do web developers</h5></a>
                            <p>I am thinking of pursuing web developing as a career & was ...</p> <small style="color: #848991">July 16, 2017</small> </div>
                        <hr>
                        <div class="post-details021"> <a href="#"><h5>How much do web developers</h5></a>
                            <p>I am thinking of pursuing web developing as a career & was ...</p> <small style="color: #848991">July 16, 2017</small> </div>
                    </div>
                    <!--       end recent post    -->
                </aside>
            </div>
        </div>
    </section>
    <!--    footer -->
    