<!-- Top bar Start -->
<div class="top-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <i class="fa fa-envelope"></i>
        consommiTounsi@gmail.com
      </div>
      <div class="col-sm-6">
        <i class="fa fa-phone-alt"></i>
        +216 70 345 000
      </div>
    </div>
  </div>
</div>

<!-- Nav Bar Start -->
<div class="nav">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a href="#" class="navbar-brand">MENU</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav mr-auto">
          <a href="index.html" class="nav-item nav-link">Home</a>
          <a href="checkout.html" class="nav-item nav-link">Checkout</a>
          <a href="my-account.html" class="nav-item nav-link">My Account</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More Pages</a>
            <div class="dropdown-menu">
              <a href="wishlist.html" class="dropdown-item">Events</a>
              <a href="login.html" class="dropdown-item">Forum</a>
              <a href="contact.html" class="dropdown-item">Contact Us</a>
            </div>
          </div>
        </div>
        <div class="navbar-nav ml-auto">
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Login</a>
              <a href="#" class="dropdown-item">Register</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Nav Bar End -->


<!-- Bottom Bar Start -->
<div class="bottom-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="logo">
          <a href="index.html">
            <img src="assets/img/logo.png" alt="Logo">
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="search">
          <input type="text" placeholder="Search">
          <button><i class="fa fa-search"></i></button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Bottom Bar End -->

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center mb-4">
        <h2 class="heading-section">List of events </h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <div class="table-wrap">
          <table class="table">
            <thead class="thead-primary">
            <tr>
              <th>&nbsp;</th>
              <th>&nbsp;</th>
              <th>Event</th>
              <th>Ticket Price</th>
              <th>Participation</th>
              <th>Contribution
              <th>
              <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr class="alert" role="alert">
              <td>
                <label class="checkbox-wrap checkbox-primary">
                  <input type="checkbox" checked>
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <div class="img" style="background-image: url(assets/img/social.png);"></div>
              </td>
              <td>
                <div class="email">
                  <span>Social events </span>
                  <span>There are plenty of reasons to get a group of people together away from a business
                                    or workplace environment, be it an anniversary or a team-building night out.
                                     Social events should speak to people’s personal interests and tend to revolve around
                                     the likes of eating and entertainment.</span>
                </div>
              </td>
              <td>44.9dt</td>
              <td>
              <a routerLink= "participation">Partcipate</a>
             </td>
              <td>
                <a routerLink="contribution">Contribute</a>s
              </td>
              <td>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true"><i class="fa fa-close"></i></span>
                </button>
              </td>
            </tr>


            <tr class="alert" role="alert">
              <td>
                <label class="checkbox-wrap checkbox-primary">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <!--<div class="img" style="background-image: url(assets/imag/birthday.png);"></div>  -->
                <div><img class="fit-picture"
                          src="assets/images/blog-4-806x440.jpg" width="20px"></div>

              </td>
              <td>
                <div class="email">
                  <span>Birthday </span>
                  <span>A birthday is the anniversary of the birth of a person,
                                    or figuratively of an institution. Birthdays of people are celebrated in numerous cultures,
                                     often with birthday gifts, birthday cards, a birthday party, or a rite of passage..</span>
                </div>
              </td>
              <td>30.99dt</td>
              <td>
                <button type="button" class="submit" aria-label="submit" onclick="participate()">Paricipate</button>
              </td>
              <td>
                <button type="button" class="submit" aria-label="submit" onclick="contribute()">Contribute</button>
              </td>
              <td>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true"><i class="fa fa-close"></i></span>
                </button>
              </td>
            </tr>

            <tr class="alert" role="alert">
              <td>
                <label class="checkbox-wrap checkbox-primary">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <!-- <div class="img" style="background-image: url(assets/img/theatre.png);"></div> -->
                <div><img class="fit-picture"
                          src="assets/img/theatre.png" width="20px"></div>
              </td>
              <td>
                <div class="email">
                  <span>Theatre</span>
                  <span>Theatre or theater is a collaborative form of performing art that uses live performers,
                                     usually actors or actresses, to present the experience of a real or imagined event
                                     before a live audience in a specific place, often a stage.</span>
                </div>
              </td>
              <td>35.50dt</td>
              <td>
                <button type="button" class="submit" aria-label="submit" onclick="participate()">Paricipate</button>
              </td>
              <td>
                <button type="button" class="submit" aria-label="submit" onclick="contribute()">Contribute</button>
              </td>
              <td>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true"><i class="fa fa-close"></i></span>
                </button>
              </td>
            </tr>

            <tr class="alert" role="alert">
              <td>
                <label class="checkbox-wrap checkbox-primary">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>
                <!--  <div class="img" style="background-image: url(assets/img/film.png);"></div>-->
                <div><img class="fit-picture"
                          src="assets/img/film.png" width="20px"></div>
              </td>
              <td>
                <div class="email">
                  <span>Film </span>
                  <span>A film, also called a movie, motion picture or moving picture,
                                    is a work of visual art used to simulate experiences that communicate ideas, stories, perceptions, ...</span>
                </div>
              </td>
              <td>76.99dt</td>
              <td>
                <button type="button" class="submit" aria-label="submit" onclick="participate()">Paricipate</button>
              </td>
              <td>
                <button type="button" class="submit" aria-label="submit" onclick="contribute()">Contribute</button>
              </td>
              <td>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true"><i class="fa fa-close"></i></span>
                </button>
              </td>
            </tr>

            <tr class="alert" role="alert">
              <td class="border-bottom-0">
                <label class="checkbox-wrap checkbox-primary">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </td>
              <td class="border-bottom-0">
                <div class="img" style="background-image: url(assets/imges/music.png);"></div>
              </td>
              <td class="border-bottom-0">
                <div class="email">
                  <span>Music</span>
                  <span>Music is the art of arranging sounds in time to produce a
                                    composition through the elements of melody, harmony, rhythm, and timbre. ...
                                </span>
                </div>
              </td>
              <td class="border-bottom-0">40.00dt</td>
              <td>
                <button type="button" class="submit" aria-label="submit" onclick="participate()">Paricipate</button>
              </td>
              <td>
                <button type="button" class="submit" aria-label="submit" onclick="contribute()">Contribute</button>
              </td>
              <td class="border-bottom-0">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true"><i class="fa fa-close"></i></span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


**********************************************************************************************

<section class="ftco-section">
  <form #l="ngForm">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-4">
          <h2 class="heading-section">List of events </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">

          <div class="table-wrap">
            <table class="table">
              <thead class="thead-primary">
              <tr>

                <th>Image</th>
                <th>Description</th>
                <th>Ticket Price</th>
                <th>ADD</th>
                <th>GET
                <th>
                <th>&nbsp;</th>
              </tr>
              </thead>
              <tbody>
              <tr class="alert" role="alert">

                <td>
                  <input type="file"
                         id="avatar" name="avatar"
                         accept="image/png, image/jpeg">
                </td>
                <td>
                  <div class="email">
                    <input type="text" name="description" ngModel #D="ngModel" minlength="10" required>
                    <div *ngIf="D.invalid && D.touched">
                      <div *ngIf="D.errors.minlength">
                        faute de saisie
                      </div>
                    </div>
                  </div>
                </td>
                <td><input type="number" name="price" ngModel #P="ngModel" pattern="[^a-z]" required>
                  <div *ngIf="P.invalid && P.touched">
                    <div *ngIf="P.errors.pattern">
                      faute de saisie
                    </div>
                  </div>
                </td>
                <td>
                  <button [disabled]="l.invalid" (click)="submit(l.value)">AddEvent</button>
                </td>
                <td>
                  <button [disabled]="l.invalid" (click)="getevent()">RetrieveEvent</button>
                </td>
                <td>
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                  </button>
                </td>
              </tr>


              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
************************List des evenements ********************************
<div class="body table-responsive">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Description</th>
      <th>Ticket price</th>
      <th>bouton</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events">
      <th scope="row">
        {{event.id}}</th>
      <td>{{event.Name}}</td>
      <td>{{event.Description}}</td>
      <td>{{event.TicketPrice}}</td>
      <td>
        <button type="button" (click)="deleteEvent(event.id)" class="btn btn-primary">DELETE</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
