<html>
<head>
<title>articles.component.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #080808;}
.s1 { color: #0033b3;}
.s2 { color: #871094; font-style: italic;}
.s3 { color: #067d17;}
.s4 { color: #0033b3;}
.s5 { color: #080808;}
.s6 { color: #871094;}
.s7 { color: #067d17;}
.s8 { color: #174ad4;}
</style>
</head>
<body bgcolor="#ffffff">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
articles.component.html</font>
</center></td></tr></table>
<pre><span class="s0">&lt;</span><span class="s1">p</span><span class="s0">&gt;articles works!&lt;/</span><span class="s1">p</span><span class="s0">&gt;</span>
<span class="s0">&lt;</span><span class="s1">div </span><span class="s2">*ngFor</span><span class="s3">= &quot;</span><span class="s4">let </span><span class="s5">listeArticle of listeArticles , </span><span class="s4">let </span><span class="s5">i=index</span><span class="s3">&quot;</span><span class="s0">&gt;</span>
  <span class="s0">&lt;</span><span class="s1">div </span><span class="s2">*ngIf</span><span class="s3">=&quot;</span><span class="s5">nbTotal&gt;i</span><span class="s3">&quot;</span><span class="s0">&gt;</span>
    <span class="s0">&lt;</span><span class="s1">div </span><span class="s6">[ngStyle]</span><span class="s3">=&quot;</span><span class="s5">{</span><span class="s7">'backgroundColor' </span><span class="s5">: listeArticle.auteur === </span><span class="s7">'Med Taher' </span><span class="s5">? </span><span class="s7">'yellow' </span><span class="s5">: </span><span class="s7">'white' </span><span class="s5">}</span><span class="s3">&quot;</span><span class="s0">&gt;</span>
      <span class="s5">{{listeArticle.auteur}}</span><span class="s0">,</span><span class="s5">{{listeArticle.contenu}}</span><span class="s0">, ...</span>
    <span class="s0">&lt;/</span><span class="s1">div</span><span class="s0">&gt;</span>
  <span class="s0">&lt;/</span><span class="s1">div</span><span class="s0">&gt;</span>
<span class="s0">&lt;/</span><span class="s1">div</span><span class="s0">&gt;</span>
<span class="s0">&lt;</span><span class="s1">input </span><span class="s8">type</span><span class="s3">=&quot;text&quot; </span><span class="s6">[(ngModel)]</span><span class="s3">=&quot;</span><span class="s5">nbTotal</span><span class="s3">&quot;</span><span class="s0">&gt;</span>
</pre>
</body>
</html>