<p>product works!</p>
{{test}} <div *ngIf="test==true">

  <button [disabled]="test" (click)="showmsg()">submit</button>
  <div [style.backgroundColor]="color">color</div>
  <input type="text" [(ngModel)]="color" >
</div>
<div *ngFor="let produit of products, let i=index " >
  <div *ngIf="produit.quantity!=0">
    {{produit.id}}
    {{produit.title}}
    {{i}}
    <button (click)="addlike(i)">
      like
    </button>
    <br>{{produit.like}}
  </div>
</div>
<br>
<h1>second methode</h1>
<br>
<input type="text" #val  >
<button (click)="getcolor(val.value)">go</button>
<div [style.backgroundColor]="couleur">color</div>

