<p>add-product works!</p>
<form #l="ngForm">
  <label> Name </label>
  <input type="text" name="name" ngModel #N="ngModel" required>
  <div *ngIf="N.invalid && N.touched">
    <div *ngIf="N.errors.required">
      Ce champ est obligatoire
    </div>
  </div>
  <label>Price</label>
  <input type="number" name="price" ngModel #P="ngModel" pattern="[^a-z]" required >
  <div *ngIf="P.invalid && P.touched">
    <div *ngIf="P.errors.pattern">
      faute de saisie
    </div>
  </div>
  <label>Description</label>
  <input type="text" name="description" ngModel #D="ngModel" minlength="10" required>
  <div *ngIf="D.invalid && D.touched">
    <div *ngIf="D.errors.minlength">
      faute de saisie
    </div>
  </div>
  <button [disabled]="l.invalid" (click)="submit(l.value)">AddProduct</button>
</form>

