<!-- Top bar Start -->
<div class="top-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <i class="fa fa-envelope"></i>
        consommiTounsi@gmail.com
      </div>
      <div class="col-sm-6">
        <i class="fa fa-phone-alt"></i>
        +216 70 345 000
      </div>
    </div>
  </div>
</div>

<!-- Nav Bar Start -->
<div class="nav">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a href="#" class="navbar-brand">MENU</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
        <div class="navbar-nav mr-auto">
          <a href="index.html" class="nav-item nav-link">Home</a>
          <a href="checkout.html" class="nav-item nav-link">Checkout</a>
          <a href="my-account.html" class="nav-item nav-link">My Account</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">More Pages</a>
            <div class="dropdown-menu">
              <a href="wishlist.html" class="dropdown-item">Events</a>
              <a href="login.html" class="dropdown-item">Forum</a>
              <a href="contact.html" class="dropdown-item">Contact Us</a>
            </div>
          </div>
        </div>
        <div class="navbar-nav ml-auto">
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User Account</a>
            <div class="dropdown-menu">
              <a href="#" class="dropdown-item">Login</a>
              <a href="#" class="dropdown-item">Register</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Nav Bar End -->


<!-- Bottom Bar Start -->
<div class="bottom-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="logo">
          <a href="index.html">
            <img src="assets/img/logo.png" alt="Logo">
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="search">
          <input type="text" placeholder="Search">
          <button><i class="fa fa-search"></i></button>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Bottom Bar End -->
<div class="card m-3">
  <h5 align="center" class="card-header">Add a claim to a Product </h5>
  <div class="card-body">



        <div class="form-group col-5">
          <label>IdProduct</label>
          <input type="text" formControlName="idProduct" class="form-control"  />

        </div>
    <br>
        <div class="form-group col-5">
          <label>DesciptionText</label>
          <input type="text" formControlName="DesciptionText" class="form-control" />

        </div>


      <div class="text-center">
        <button class="btn btn-primary mr-1">AddClaim</button>
        <button class="btn btn-secondary" type="reset" >Cancel</button>
      </div>



