<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-4">
                <h2 class="heading-section">List of events </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                
                <div class="table-wrap">
                    <table class="table">
                      <thead class="thead-primary">
                        <tr>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>Event</th>
                          <th>Ticket Price</th>
                          <th>Number of places</th>
                          <th>total</th>
                          <th>&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="alert" role="alert">
                            <td>
                                <label class="checkbox-wrap checkbox-primary">
                                      <input type="checkbox" checked>
                                      <span class="checkmark"></span>
                                    </label>
                            </td>
                            <td>
                                <div class="img" style="background-image: url(assets/images/social.jpg);"></div>
                            </td>
                          <td>
                              <div class="email">
                                  <span>Social events </span>
                                  <span>There are plenty of reasons to get a group of people together away from a business 
                                    or workplace environment, be it an anniversary or a team-building night out.
                                     Social events should speak to people’s personal interests and tend to revolve around 
                                     the likes of eating and entertainment.</span>
                              </div>
                          </td>
                          <td>44.9dt</td>
                          <td class="quantity">
                            <div class="input-group">
                             <input type="text" name="quantity" class="quantity form-control input-number" value="2" min="1" max="100">
                          </div>
                      </td>
                      <td>89.98dt</td>
                          <td>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                          </button>
                        </td>
                        </tr>

                        <tr class="alert" role="alert">
                            <td>
                                <label class="checkbox-wrap checkbox-primary">
                                      <input type="checkbox">
                                      <span class="checkmark"></span>
                                    </label>
                            </td>
                            <td>
                                <div class="img" style="background-image: url(assets/images/birthday.jpg);"></div>
                            </td>
                          <td>
                              <div class="email">
                                  <span>Birthday </span>
                                  <span>A birthday is the anniversary of the birth of a person, 
                                    or figuratively of an institution. Birthdays of people are celebrated in numerous cultures,
                                     often with birthday gifts, birthday cards, a birthday party, or a rite of passage..</span>
                              </div>
                          </td>
                          <td>30.99dt</td>
                          <td class="quantity">
                            <div class="input-group">
                             <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                          </div>
                      </td>
                      <td>30.99dt</td>
                          <td>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                          </button>
                        </td>
                        </tr>

                        <tr class="alert" role="alert">
                            <td>
                                <label class="checkbox-wrap checkbox-primary">
                                      <input type="checkbox">
                                      <span class="checkmark"></span>
                                    </label>
                            </td>
                            <td>
                                <div class="img" style="background-image: url(assets/images/theatre.jpg);"></div>
                            </td>
                          <td>
                              <div class="email">
                                  <span>Theatre</span>
                                  <span>Theatre or theater is a collaborative form of performing art that uses live performers,
                                     usually actors or actresses, to present the experience of a real or imagined event 
                                     before a live audience in a specific place, often a stage.</span>
                              </div>
                          </td>
                          <td>35.50dt</td>
                          <td class="quantity">
                            <div class="input-group">
                             <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                          </div>
                      </td>
                      <td>35.50dt</td>
                          <td>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                          </button>
                        </td>
                        </tr>

                        <tr class="alert" role="alert">
                            <td>
                                <label class="checkbox-wrap checkbox-primary">
                                      <input type="checkbox">
                                      <span class="checkmark"></span>
                                    </label>
                            </td>
                            <td>
                                <div class="img" style="background-image: url(assets/images/product-4.png);"></div>
                            </td>
                          <td>
                              <div class="email">
                                  <span>Film </span>
                                  <span>A film, also called a movie, motion picture or moving picture, 
                                    is a work of visual art used to simulate experiences that communicate ideas, stories, perceptions, ...</span>
                              </div>
                          </td>
                          <td>76.99dt</td>
                          <td class="quantity">
                            <div class="input-group">
                             <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                          </div>
                      </td>
                      <td>76.99dt</td>
                          <td>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                          </button>
                        </td>
                        </tr>

                        <tr class="alert" role="alert">
                            <td class="border-bottom-0">
                                <label class="checkbox-wrap checkbox-primary">
                                      <input type="checkbox">
                                      <span class="checkmark"></span>
                                    </label>
                            </td>
                            <td class="border-bottom-0">
                                <div class="img" style="background-image: url(assets/img/music.jpg);"></div>
                            </td>
                          <td class="border-bottom-0">
                              <div class="email">
                                  <span>Music</span>
                                  <span>Music is the art of arranging sounds in time to produce a 
                                    composition through the elements of melody, harmony, rhythm, and timbre. ... 
                                </span>
                              </div>
                          </td>
                          <td class="border-bottom-0">40.00dt</td>
                          <td class="quantity border-bottom-0">
                            <div class="input-group">
                             <input type="text" name="quantity" class="quantity form-control input-number" value="1" min="1" max="100">
                          </div>
                      </td>
                      <td class="border-bottom-0">40.00dt</td>
                          <td class="border-bottom-0">
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-close"></i></span>
                          </button>
                        </td>
                        </tr>
                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
